*{
    /* font-family: 'IRAN'; */
    padding: 0;margin: 0;
    box-sizing: border-box;
    outline: 0;border: 0;
    text-decoration: none;
    transition: 0.3s all linear;
    -webkit-transition: 0.3s all linear;
    -moz-transition: 0.3s all linear;
    -ms-transition: 0.3s all linear;
    -o-transition: 0.3s all linear;
    text-transform: capitalize;
}

:root{
    --white: #fff;       --gold: #FFB703; --yellow: #ffff00;
    --white-e3: #e3e3e3; --blue: #09568a; --blue-low: #0eafff; --blue-high: #023047; --blue-x-high: #021c29;
    --white-f5: #f5f5f5; --red: rgb(231, 19, 19); --red-low: rgb(255, 74, 74); --red-high: rgb(109, 9, 9);
    --white-ccc: #ccc;   --green: rgb(27, 202, 27); --green-low: rgb(27, 255, 27); --green-high: rgb(9, 58, 9);
    --black: #000;       --border: 1px solid var(--black);   --orange: rgb(255, 153, 0); --blue-dark: #040F28;
    --black-111: #111;   --border-2: 2px solid var(--black); --orange-high: #FD5D14;
    --black-333: #333;   --box-shadow: 0 2px 4px rgba(0,0,0,0.5);
    --black-555: #555;   --box-shadow-high: 0 3px 30px rgba(0,0,0,0.5);
    --black-777: #777;
}



/* --------------------------------------------------------------------- */
/* ---------------------------- Color - Background --------------------- */
.text-white{color: var(--white);} .text-white-e3{color: var(--white-e3);} .text-white-ccc{color: var(--white-ccc);}
.text-black{color: var(--black);} .text-black-555{color: var(--black-555);} .text-black-333{color: var(--black-333);}
.text-black-777{color: var(--black-777);}
.text-blue-dark{color: var(--blue-dark);}

.bg-white{background-color: var(--white);} .bg-white-e3{background-color: var(--white-e3);} .bg-white-ccc{background-color: var(--white-ccc);}
.bg-black{background-color: var(--black);} .bg-black-555{background-color: var(--black-555);} .bg-black-333{background-color: var(--black-333);}
.bg-black-777{background-color: var(--black-777);}
.bg-blue-dark{background-color: var(--blue-dark);}

.text-green{color: var(--green);} .text-gold{color: var(--gold);} .text-red{color: var(--red);} .text-blue{color: var(--blue);} .text-yellow{color: var(--yellow);}
.bg-green{background-color: var(--green);} .bg-gold{background-color: var(--gold);} .bg-red{background-color: var(--red);} .bg-blue{background-color: var(--blue);} .bg-yellow{background-color: var(--yellow);}
.bg-banner{
    background: linear-gradient(rgba(9, 30, 62, 0.6), rgba(9, 30, 62, 0.6)), url('../images/......') no-repeat;
    background-size: cover;
    background-position: center;
}
.bg-none{background: none;} .cursor-pointer{cursor: pointer;}
.box-shadow{box-shadow: var(--box-shadow);} .box-shadow2{box-shadow: var(--box-shadow-high);}
.uppercase{text-transform: uppercase;} .lowercase{text-transform: lowercase;} .capitalize{text-transform: capitalize;}

/* --------------------------------------------------------------------- */
/* ---------------------------- Width & Height ------------------------- */
.w-100{width: 100%;} .h-100{height: 100%;} .min-h-100{min-height: 100%;} .h-50{height: 50%;}
.w-100vw{width: 100vw;} .h-100vh{height: 100vh;}
.w-75{width: 75%;} .w-60{width: 60%;} .w-50{width: 50%;} .w-30{width: 30%;}
.w-20px{width: 20px;} .h-20px{height: 20px;}
.w-50px{width: 50px;} .h-50px{height: 50px;}

/* --------------------------------------------------------------------- */
/* ---------------------------- Padding -------------------------------- */
.p-1{padding: 1rem;} .p-2{padding: 2rem;} .p-3{padding: 3rem;} .p-4{padding: 4rem;} .p-5{padding: 5rem;}
.p-6{padding: 6rem;} .p-7{padding: 7rem;} .p-8{padding: 8rem;} .p-9{padding: 9rem;} .p-10{padding: 10rem;}
.p-0-2{padding: 0.2rem;} .p-0-5{padding: 0.5rem;} .p-1-5{padding: 1.5rem;} .p-2-5{padding: 2.5rem;}

.pr-1{padding-right: 1rem;} .pr-2{padding-right: 2rem;} .pr-3{padding-right: 3rem;} .pr-4{padding-right: 4rem;} .pr-5{padding-right: 5rem;}
.pr-6{padding-right: 6rem;} .pr-7{padding-right: 7rem;} .pr-8{padding-right: 8rem;} .pr-9{padding-right: 9rem;} .pr-10{padding-right: 10rem;}
.pl-1{padding-left: 1rem;} .pl-2{padding-left: 2rem;} .pl-3{padding-left: 3rem;} .pl-4{padding-left: 4rem;} .pl-5{padding-left: 5rem;}
.pl-6{padding-left: 6rem;} .pl-7{padding-left: 7rem;} .pl-8{padding-left: 8rem;} .pl-9{padding-left: 9rem;} .pl-10{padding-left: 10rem;}
.pt-1{padding-top: 1rem;} .pt-2{padding-top: 2rem;} .pt-3{padding-top: 3rem;} .pt-4{padding-top: 4rem;} .pt-5{padding-top: 5rem;}
.pt-6{padding-top: 6rem;} .pt-7{padding-top: 7rem;} .pt-8{padding-top: 8rem;} .pt-9{padding-top: 9rem;} .pt-10{padding-top: 10rem;}
.pb-1{padding-bottom: 1rem;} .pb-2{padding-bottom: 2rem;} .pb-3{padding-bottom: 3rem;} .pb-4{padding-bottom: 4rem;} .pb-5{padding-bottom: 5rem;}
.pb-6{padding-bottom: 6rem;} .pb-7{padding-bottom: 7rem;} .pb-8{padding-bottom: 8rem;} .pb-9{padding-bottom: 9rem;} .pb-10{padding-bottom: 10rem;}

.pr-0-2{padding-right: 0.2rem;} .pr-0-3{padding-right: 0.3rem;} .pr-0-4{padding-right: 0.4rem;} .pr-0-5{padding-right: 0.5rem;} .pr-0-7{padding-right: 0.7rem;}
.pl-0-2{padding-left: 0.2rem;} .pl-0-3{padding-left: 0.3rem;} .pl-0-4{padding-left: 0.4rem;} .pl-0-5{padding-left: 0.5rem;} .pl-0-7{padding-left: 0.7rem;}
.pt-0-2{padding-top: 0.2rem;} .pt-0-3{padding-top: 0.3rem;} .pt-0-4{padding-top: 0.4rem;} .pt-0-5{padding-top: 0.5rem;} .pt-0-7{padding-top: 0.7rem;}
.pb-0-2{padding-bottom: 0.2rem;} .pb-0-3{padding-bottom: 0.3rem;} .pb-0-4{padding-bottom: 0.4rem;} .pb-0-5{padding-bottom: 0.5rem;} .pb-0-7{padding-bottom: 0.7rem;}
.pr-1-2{padding-right: 1.2rem;} .pb-1-3{padding-right: 1.3rem;} .pb-1-4{padding-right: 1.4rem;} .pb-1-5{padding-right: 1.5rem;} .pb-1-7{padding-right: 1.7rem;}
.pr-2-2{padding-right: 2.2rem;} .pr-2-3{padding-right: 2.3rem;} .pr-2-4{padding-right: 2.4rem;} .pr-2-5{padding-right: 2.5rem;} .pr-2-7{padding-right: 2.7rem;}
.pr-3-2{padding-right: 3.2rem;} .pr-3-3{padding-right: 3.3rem;} .pr-3-4{padding-right: 3.4rem;} .pr-3-5{padding-right: 3.5rem;} .pr-3-7{padding-right: 3.7rem;}
.pl-1-2{padding-left: 1.2rem;} .pl-1-3{padding-left: 1.3rem;} .pl-1-4{padding-left: 1.4rem;} .pl-1-5{padding-left: 1.5rem;} .pl-1-7{padding-left: 1.7rem;}
.pl-2-2{padding-left: 2.2rem;} .pl-2-3{padding-left: 2.3rem;} .pl-2-4{padding-left: 2.4rem;} .pl-2-5{padding-left: 2.5rem;} .pl-2-7{padding-left: 2.7rem;}
.pl-3-2{padding-left: 3.2rem;} .pl-3-3{padding-left: 3.3rem;} .pl-3-4{padding-left: 3.4rem;} .pl-3-5{padding-left: 3.5rem;} .pl-3-7{padding-left: 3.7rem;}
.pt-1-2{padding-top: 1.2rem;} .pt-1-3{padding-top: 1.3rem;} .pt-1-4{padding-top: 1.4rem;} .pt-1-5{padding-top: 1.5rem;} .pt-1-7{padding-top: 1.7rem;}
.pt-2-2{padding-top: 2.2rem;} .pt-2-3{padding-top: 2.3rem;} .pt-2-4{padding-top: 2.4rem;} .pt-2-5{padding-top: 2.5rem;} .pt-2-7{padding-top: 2.7rem;}
.pt-3-2{padding-top: 3.2rem;} .pt-3-3{padding-top: 3.3rem;} .pt-3-4{padding-top: 3.4rem;} .pt-3-5{padding-top: 3.5rem;} .pt-3-7{padding-top: 3.7rem;}
.pb-1-2{padding-bottom: 1.2rem;} .pb-1-3{padding-bottom: 1.3rem;} .pb-1-4{padding-bottom: 1.4rem;} .pb-1-5{padding-bottom: 1.5rem;} .pb-1-7{padding-bottom: 1.7rem;}
.pb-2-2{padding-bottom: 2.2rem;} .pb-2-3{padding-bottom: 2.3rem;} .pb-2-4{padding-bottom: 2.4rem;} .pb-2-5{padding-bottom: 2.5rem;} .pb-2-7{padding-bottom: 2.7rem;}
.pb-3-2{padding-bottom: 3.2rem;} .pb-3-3{padding-bottom: 3.3rem;} .pb-3-4{padding-bottom: 3.4rem;} .pb-3-5{padding-bottom: 3.5rem;} .pb-3-7{padding-bottom: 3.7rem;}
.p-0-0-5{padding: 0 0.5rem;} .p-0-1{padding: 0 1rem;} .p-0-1-5{padding: 0 1.5rem;} .p-0-2{padding: 0 2rem;} .p-0-2-5{padding: 0 2.5rem;} .p-0-3{padding: 0 3rem;}
.py-1{padding: 1rem 0;} .py-1-5{padding: 1.5rem 0;} .py-2{padding: 2rem 0;} .py-2-5{padding: 2.5rem 0;} .py-3{padding: 3rem 0;} .py-3-5{padding: 3.5rem 0;}
.py-0-5{padding: 0.5rem 0;}

/* --------------------------------------------------------------------- */
/* ---------------------------- Margin --------------------------------- */
.m-1{margin: 1rem;} .m-2{margin: 2rem;} .m-3{margin: 3rem;} .m-4{margin: 4rem;} .m-5{margin: 5rem;}
.m-6{margin: 6rem;} .m-7{margin: 7rem;} .m-8{margin: 8rem;} .m-9{margin: 9rem;} .m-10{margin: 10rem;}

.mr-1{margin-right: 1rem;} .mr-2{margin-right: 2rem;} .mr-3{margin-right: 3rem;} .mr-4{margin-right: 4rem;} .mr-5{margin-right: 5rem;}
.mr-6{margin-right: 6rem;} .mr-7{margin-right: 7rem;} .mr-8{margin-right: 8rem;} .mr-9{margin-right: 9rem;} .mr-10{margin-right: 10rem;}
.ml-1{margin-left: 1rem;} .ml-2{margin-left: 2rem;} .ml-3{margin-left: 3rem;} .ml-4{margin-left: 4rem;} .ml-5{margin-left: 5rem;}
.ml-6{margin-left: 6rem;} .ml-7{margin-left: 7rem;} .ml-8{margin-left: 8rem;} .ml-9{margin-left: 9rem;} .ml-10{margin-left: 10rem;}
.mt-1{margin-top: 1rem;} .mt-2{margin-top: 2rem;} .mt-3{margin-top: 3rem;} .mt-4{margin-top: 4rem;} .mt-5{margin-top: 5rem;}
.mt-6{margin-top: 6rem;} .mt-7{margin-top: 7rem;} .mt-8{margin-top: 8rem;} .mt-9{margin-top: 9rem;} .mt-10{margin-top: 10rem;}
.mb-1{margin-bottom: 1rem;} .mb-2{margin-bottom: 2rem;} .mb-3{margin-bottom: 3rem;} .mb-4{margin-bottom: 4rem;} .mb-5{margin-bottom: 5rem;}
.mb-6{margin-bottom: 6rem;} .mb-7{margin-bottom: 7rem;} .mb-8{margin-bottom: 8rem;} .mb-9{margin-bottom: 9rem;} .mb-10{margin-bottom: 10rem;}

.mr-0-2{margin-right: 0.2rem;} .mr-0-3{margin-right: 0.3rem;} .mr-0-4{margin-right: 0.4rem;} .mr-0-5{margin-right: 0.5rem;} .mr-0-7{margin-right: 0.7rem;}
.ml-0-2{margin-left: 0.2rem;} .ml-0-3{margin-left: 0.3rem;} .ml-0-4{margin-left: 0.4rem;} .ml-0-5{margin-left: 0.5rem;} .ml-0-7{margin-left: 0.7rem;}
.mt-0-2{margin-top: 0.2rem;} .mt-0-3{margin-top: 0.3rem;} .mt-0-4{margin-top: 0.4rem;} .mt-0-5{margin-top: 0.5rem;} .mt-0-7{margin-top: 0.7rem;}
.mb-0-2{margin-bottom: 0.2rem;} .mb-0-3{margin-bottom: 0.3rem;} .mb-0-4{margin-bottom: 0.4rem;} .mb-0-5{margin-bottom: 0.5rem;} .mb-0-7{margin-bottom: 0.7rem;}
.mr-1-2{margin-right: 1.2rem;} .mr-1-3{margin-right: 1.3rem;} .mr-1-4{margin-right: 1.4rem;} .mr-1-5{margin-right: 1.5rem;} .mr-1-7{margin-right: 1.7rem;}
.mr-2-2{margin-right: 2.2rem;} .mr-2-3{margin-right: 2.3rem;} .mr-2-4{margin-right: 2.4rem;} .mr-2-5{margin-right: 2.5rem;} .mr-2-7{margin-right: 2.7rem;}
.mr-3-2{margin-right: 3.2rem;} .mr-3-3{margin-right: 3.3rem;} .mr-3-4{margin-right: 3.4rem;} .mr-3-5{margin-right: 3.5rem;} .mr-3-7{margin-right: 3.7rem;}
.ml-1-2{margin-left: 1.2rem;} .ml-1-3{margin-left: 1.3rem;} .ml-1-4{margin-left: 1.4rem;} .ml-1-5{margin-left: 1.5rem;} .ml-1-7{margin-left: 1.7rem;}
.ml-2-2{margin-left: 2.2rem;} .ml-2-3{margin-left: 2.3rem;} .ml-2-4{margin-left: 2.4rem;} .ml-2-5{margin-left: 2.5rem;} .ml-2-7{margin-left: 2.7rem;}
.ml-3-2{margin-left: 3.2rem;} .ml-3-3{margin-left: 3.3rem;} .ml-3-4{margin-left: 3.4rem;} .ml-3-5{margin-left: 3.5rem;} .ml-3-7{margin-left: 3.7rem;}
.mt-1-2{margin-top: 1.2rem;} .mt-1-3{margin-top: 1.3rem;} .mt-1-4{margin-top: 1.4rem;} .mt-1-5{margin-top: 1.5rem;} .mt-1-7{margin-top: 1.7rem;}
.mt-2-2{margin-top: 2.2rem;} .mt-2-3{margin-top: 2.3rem;} .mt-2-4{margin-top: 2.4rem;} .mt-2-5{margin-top: 2.5rem;} .mt-2-7{margin-top: 2.7rem;}
.mt-3-2{margin-top: 3.2rem;} .mt-3-3{margin-top: 3.3rem;} .mt-3-4{margin-top: 3.4rem;} .mt-3-5{margin-top: 3.5rem;} .mt-3-7{margin-top: 3.7rem;}
.mb-1-2{margin-bottom: 1.2rem;} .mb-1-3{margin-bottom: 1.3rem;} .mb-1-4{margin-bottom: 1.4rem;} .mb-1-5{margin-bottom: 1.5rem;} .mb-1-7{margin-bottom: 1.7rem;}
.mb-2-2{margin-bottom: 2.2rem;} .mb-2-3{margin-bottom: 2.3rem;} .mb-2-4{margin-bottom: 2.4rem;} .mb-2-5{margin-bottom: 2.5rem;} .mb-2-7{margin-bottom: 2.7rem;}
.mb-3-2{margin-bottom: 3.2rem;} .mb-3-3{margin-bottom: 3.3rem;} .mb-3-4{margin-bottom: 3.4rem;} .mb-3-5{margin-bottom: 3.5rem;} .mb-3-7{margin-bottom: 3.7rem;}
.m-auto{margin:auto;} .m-1-auto{margin: 1rem auto;} .m-2-auto{margin: 2rem auto;} .m-3-auto{margin: 3rem auto;} .m-4-auto{margin: 4rem auto;} .m-5-auto{margin: 5rem auto;}
.mx-auto{margin: 0 auto;} .my-auto{margin: auto 0;}
.m-0-0-5{margin: 0 0.5rem;} .m-0-1{margin: 0 1rem;} .m-0-1-5{margin: 0 1.5rem;} .m-0-2{margin: 0 2rem;} .m-0-2-5{margin: 0 2.5rem;} .m-0-3{margin: 0 3rem;}
.m-1-0{margin: 1rem 0;} .m-2-0{margin: 2rem 0;} .m-3-0{margin: 3rem 0;}

/* --------------------------------------------------------------------- */
/* ---------------------------- Font-size ------------------------------ */
.fs-0-2{font-size: 0.2rem;} .fs-0-3{font-size: 0.3rem;} .fs-0-4{font-size: 0.4rem;} .fs-0-5{font-size: 0.5rem;} .fs-0-7{font-size: 0.7rem;} .fs-0-9{font-size: 0.9rem;}
.fs-1{font-size: 1rem;} .fs-1-2{font-size: 1.2rem;} .fs-1-3{font-size: 1.3rem;} .fs-1-4{font-size: 1.4rem;} .fs-1-5{font-size: 1.5rem;} .fs-1-7{font-size: 1.7rem;}
.fs-2{font-size: 2rem;} .fs-2-2{font-size: 2.2rem;} .fs-2-3{font-size: 2.3rem;} .fs-2-4{font-size: 2.4rem;} .fs-2-5{font-size: 2.5rem;} .fs-2-7{font-size: 2.7rem;}
.fs-3{font-size: 3rem;} .fs-3-2{font-size: 3.2rem;} .fs-3-3{font-size: 3.3rem;} .fs-3-4{font-size: 3.4rem;} .fs-3-5{font-size: 3.5rem;} .fs-3-7{font-size: 3.7rem;}
.fs-4{font-size: 4rem;} .fs-5{font-size: 5rem;}

.fs-8px{font-size: 8px;} .fs-9px{font-size: 9px;} .fs-10px{font-size: 10px;} .fs-12px{font-size: 12px;}
.fs-16px{font-size: 16px;} .fs-18px{font-size: 18px;} .fs-20px{font-size: 20px;}
.fs-22px{font-size: 22px;} .fs-25px{font-size: 25px;} .fs-30px{font-size: 30px;}
.fs-40px{font-size: 40px;} .fs-50px{font-size: 50px;} .fs-100px{font-size: 100px;}
.fwb{font-weight: bold;}

.fs-medium{font-size: calc(1.275rem + 0.3vw);}
.fs-large{ font-size: calc(1.375rem + 1.5vw);}
.fs-xlarge{font-size: calc(1.625rem + 4.5vw);}


/* --------------------------------------------------------------------- */
/* ---------------------------- Line-height ---------------------------- */
.lh-1{line-height: 1;} .lh-1-5{line-height: 1.5;} .lh-2{line-height: 2;}
.lh-2-5{line-height: 2.5;} .lh-3{line-height: 3;} .lh-3-5{line-height: 3.5;}

/* --------------------------------------------------------------------- */
/* ---------------------------- Button --------------------------------- */
.btn-blue{
    color: var(--white);
    background-color: var(--blue);
    border-radius: 0.3rem;
    -webkit-border-radius: 0.3rem;
    -moz-border-radius: 0.3rem;
    -ms-border-radius: 0.3rem;
    -o-border-radius: 0.3rem;
    padding: 0.5rem 2rem;
    box-shadow: inset 0 0 0 40px transparent;
    font-size: 2rem;
    cursor: pointer;
}
.btn-blue:hover{
    background: var(--blue-high);
    box-shadow: inset 0 0 0 var(--blue-x-high);
}
.btn-blue:active{background-color: var(--blue-low);}


/* --------------------------------------------------------------------- */
/* ---------------------------- Text-align ----------------------------- */
.text-center{text-align: center;} .text-right{text-align: right;} .text-left{text-align: left;} .text-justify{text-align: justify;}
.text-start{text-align: start;} .text-end{text-align: end;}

/* --------------------------------------------------------------------- */
/* ---------------------------- Border --------------------------------- */
.border{border: var(--border);} .border2{border: var(--border-2);} .border-none{border: none;}
.border-bottom{border-bottom: var(--border);} .border-bottom2{border-bottom: var(--border-2);} .border-top{border-top: var(--border);} .border-top2{border-top: var(--border-2);}
.border-right{border-right: var(--border);} .border-right2{border-right: var(--border-2);} .border-left{border-left: var(--border);} .border-left2{border-left: var(--border-2);}

/* --------------------------------------------------------------------- */
/* ---------------------------- Display Flex --------------------------- */
.d-flex{display: flex;} .d-flex-column{display: flex;flex-direction: column;}
.d-flex-center{display: flex;justify-content: center;align-items: center;} .d-flex-align{display: flex;align-items: center;}
.d-flex-between{display: flex;justify-content: space-between;align-items: center;} .justify-content-center{justify-content: center;} .align-items-center{align-items: center;}
.d-inline{display: inline;} .d-block{display: block;} .d-inline-block{display: inline-block;} .d-none{display: none;}

/* --------------------------------------------------------------------- */
/* ---------------------------- Display Grid --------------------------- */
.d-grid{display: grid;place-items: center;}
.d-grid-res{display: grid;grid-template-columns: repeat(auto-fit, minmax(200px ,1fr));}

/* --------------------------------------------------------------------- */
/* ---------------------------- Border-radius -------------------------- */
.border-radius-50{
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
}
.border-radius-03{
    border-radius: 0.3rem;
    -webkit-border-radius: 0.3rem;
    -moz-border-radius: 0.3rem;
    -ms-border-radius: 0.3rem;
    -o-border-radius: 0.3rem;
}
.border-radius-05{
    border-radius: 0.5rem;
    -webkit-border-radius: 0.5rem;
    -moz-border-radius: 0.5rem;
    -ms-border-radius: 0.5rem;
    -o-border-radius: 0.5rem;
}

/* --------------------------------------------------------------------- */
/* ---------------------------- Position ------------------------------- */
.relative{position: relative;} .absolute{position: absolute;} .fixed{position: fixed;} .sticky{position: sticky;}
.absolute-top-0{position: absolute;top: 0;right: 0;left: 0;z-index: 10;} .right-0{right: 0;} .left-0{left: 0;}
.fixed-top-0{position: fixed;top: 0;right: 0;left: 0;z-index: 10;}       .top-0{top: 0;} .bottom-0{bottom: 0;}
.center-in-center{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
}